<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Cadastrar Motorista</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrarmotorista.css') }}">

</head>

<body>
<div class="card">
  <div class="card-header">
    <button class="back-btn" type="button" onclick="location.assign('/cadastro')">←</button>
    <strong>Cadastrar Motorista</strong>
  </div>

  <div class="card-body">
    <div class="form-grid">
      <div class="form-group">
        <label>Nome completo *</label>
        <input id="nome" placeholder="Nome do motorista">
      </div>

      <div class="form-group">
        <label>CPF *</label>
        <input id="cpf" placeholder="000.000.000-00">
      </div>

      <div class="form-group">
        <label>Data de nascimento</label>
        <input id="nascimento" type="date">
      </div>

      <div class="form-group full">
        <label>Endereço *</label>
        <input id="endereco" placeholder="Endereço completo">
      </div>

      <div class="actions full">
        <button type="button" onclick="cadastrarMotorista()">Cadastrar Motorista</button>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/cadastrarmotorista.js') }}"></script>
</body>
</html>
