<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Motoristas</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dentromotorista.css') }}">
</head>
<body>

<header class="header">
    <button class="back" type="button" onclick="location.assign('/geralinformacao')">←</button>
  <h1 style="margin-left:16px">Motoristas</h1>
</header>

<main class="container" id="lista"></main>

<script src="{{ url_for('static', filename='js/dentromotorista.js') }}"></script>

</body>
</html>
