<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Editar Veículo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/editarveiculo.css') }}">
  

</head>

<body>

<div class="card">
  <div class="card-header">
    <button class="back-btn" type="button" onclick="history.back()">←</button>
    <strong>Editar Veículo</strong>
  </div>

  <div class="card-body">
    <div class="form-grid">
      <input id="modelo" placeholder="Modelo">
      <input id="placa" placeholder="Placa">
      <input id="renavam" placeholder="Renavam">
      <input id="cidade" class="full" placeholder="Cidade">
    </div>

    <div class="actions">
      <button class="btn-save" type="button" onclick="salvar()">Salvar Alterações</button>
      <button class="btn-save btn-delete" type="button" onclick="excluir()">Excluir</button>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/editarveiculo.js') }}"></script>
</body>
</html>
